* {
    margin: 0;
    padding: 0;
}

html, body{
    height:100%;
    margin: 0;
    background-color: black;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin-left: 30px;
    padding: 20px;
}

.main-menu {
    margin-right: 30px;
    padding: 20px;
}

.main {
    background-color: black;
    height: 100%;
}
.carousel {
    margin-top: 50px;
    width: 100%;
    overflow: scroll;
    padding-left: 30px;
    position: relative;
    padding-top: 10px;
}
.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 10px;
}

.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 10px;
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
  }
  
  .carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
  }

.carousel-item{
    width: 200px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
    background-color: aliceblue;
    border: 4px solid #af0404;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}
  
.carousel-item__img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
  
.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    color: white;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.carrousel-item__img-options {
    width: 30px;
    height: 30px;
}
  
.carousel__container:hover .carousel-item:hover .carousel-item__details {
    opacity: 1;
}
  
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
  
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}
  
::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 2px1pxrgba 0, 0, 0, 0.2;
}
  
::-webkit-scrollbar:hover:active {
    background: #999;
}


.section {
    background-color: black;
}

.footer {
    background-color: rgb(148, 148, 148);
    text-align: center;
    padding: 5px;
}
