* {
    margin: 0;
    padding: 0;
}

html, body{
    height:100%;
    margin: 0;
    background-color: black;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #252525;
}

.logo {
    margin-left: 30px;
    padding: 30px;
    font-family: 'ZCOOL KuaiLe', Courier, monospace;
    font-style: italic;
}

.logo__link {
    text-decoration: none;
}

.logo__title {
    color: white;
}

.logo__title--bold {
    color: #af0404;
}

.main-menu {
    margin-right: 30px;
    display: flex;
}

.main-menu {
    width: 250px;
}

.main-menu__thumbnail {
    padding: 20px;
    
}

.main-menu__img {
    width: 100%;
    border: 1px solid white;
    opacity: 10%;
}

.main {
    background-color: #414141;
    
}

.hero {
    background-color: #414141;
    background-blend-mode: lighten;
    background-image: url("https://images.unsplash.com/photo-1556745750-68295fefafc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero__title {
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    padding: 0px;
    margin-bottom: 20px;
    color: white; 
    -webkit-text-stroke: 0.1px black;
}

.hero__button {
    padding: 30px;
    background-color: #252525;
    transition: 0.5s;
    text-decoration: none;
}

.hero__button-text {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.hero__button:hover {
    background-color: #af0404;
}
.carousel {
    margin-top: 50px;
    width: 100%;
    overflow: scroll;
    padding-left: 30px;
    position: relative;
    padding-top: 10px;
}
.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 10px;
}

.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 10px;
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
  }
  
  .carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
  }

.carousel-item{
    width: 200px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
    background-color: aliceblue;
    border: 4px solid #af0404;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}
  
.carousel-item__img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
  
.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    color: white;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.carrousel-item__img-options {
    width: 30px;
    height: 30px;
}
  
.carousel__container:hover .carousel-item:hover .carousel-item__details {
    opacity: 1;
}
  
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
  
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}
  
::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 2px1pxrgba 0, 0, 0, 0.2;
}
  
::-webkit-scrollbar:hover:active {
    background: #999;
}


.section {
    background-color: #414141;
    color: white;
}

.footer {
    background-color: #252525;
    color: #fff;
    text-align: center;
    padding: 5px;
}
